!!滚动条设置
URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain
URxvt.internalBorder:  20

URxvt.inputMethod:fcitx

!!光标闪烁
URxvt.cursorBlink:True

!! Fonts are worked for glyphs
URxvt.font: xft:MesloLGSDZ Nerd Font Mono:size=12
!URxvt.font: xft:Inconsolata Nerd Font Mono:size=14, xft:DejaVu Sans:size=12
!URxvt.font: xft:RobotoMono Nerd Font Mono:size=12, xft:DejaVu Sans:size=12
!URxvt.font: xft:NotoMono Nerd Font Mono:size=12, xft:DejaVu Sans:size=12

!URxvt.font:xft:Meslo LG S DZ:antialias=True:pixelsize=22,xft:Source Han Sans CN:pixelsize=22,xft:Font Awesome 5 Free Solid:style=Solid:pixelsize=15
!URxvt.boldfont:xft:Meslo LG S DZ:antialias=True:pixelsize=22,xft:Source Han Sans CN:pixelsize=22,xft:Material Icons:pixelsize=22
0Rxvt.letterSpace: 0

URxvt.perl-ext-common: default,font-size,clipboard

!! font-size
URxvt.keysym.C-equal:  font-size:increase
URxvt.keysym.C-slash:  font-size:show

!! Copy & Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Disable the pop up window when ctrl+shift pressed
URxvt.iso14755: false
URxvt.iso14755_52: false

!!! ================================ Nord Theme =================================
!#define nord0 #2E3440
!#define nord1 #3B4252
!#define nord2 #434C5E
!#define nord3 #4C566A
!#define nord4 #D8DEE9
!#define nord5 #E5E9F0
!#define nord6 #ECEFF4
!#define nord7 #8FBCBB
!#define nord8 #88C0D0
!#define nord9 #81A1C1
!#define nord10 #5E81AC
!#define nord11 #BF616A
!#define nord12 #D08770
!#define nord13 #EBCB8B
!#define nord14 #A3BE8C
!#define nord15 #B48EAD

!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

!*.color0: nord1
!*.color1: nord11
!*.color2: nord14
!*.color3: nord13
!*.color4: nord9
!*.color5: nord15
!*.color6: nord8
!*.color7: nord5
!*.color8: nord3
!*.color9: nord11
!*.color10: nord14
!*.color11: nord13
!*.color12: nord9
!*.color13: nord15
!*.color14: nord7
!*.color15: nord6

!*.color20: nord10
!*.color21: nord2

!!! ============================= Gruvbox theme =================================
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
*bg-alt: #504945
*fg-alt: #7c6f64
*fg-underline: #fabd2f
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! Extended 256 color palette: requires 'rxvt-unicode-256xresources' package
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

Xft.dpi: 145
!Xft.dpi: 96
! Mouse cursor size
!Xcursor.theme: breeze_cursors
Xcursor.theme: Breeze-Obsidian
Xcursor.size: 48

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

